td.green,
div.green {
  background-color: green;
}

td.red,
div.red {
  background-color: red;
}

td.gray,
div.gray {
  background-color: gray;
}

td.orange,
div.orange {
  background-color: orange;
}

td.yellow,
div.yellow {
  background-color: yellow;
}